{% extends "layout.html" %}
{% block title %}
    V Rising Server List ~ Home
{% endblock %}
{% block homepage %}
<br>
    <div class="container-fluid px-4">
        <h2 class="mt-3" id="tileheadings">Promoted Servers:</h2>
        <div class="row">
        {% for serverpromoted in promotedservers %}
            <div class="col-md-4" id="tile">
                <h3>Server Name: {{ serverpromoted.name }}</h1>
                <p>Server Settings: {{ serverpromoted.settings }}</p>
                <p>Server Created on: {{ serverpromoted.dateposted }}</p>
            </div>
        {% endfor %}
        <img src="{{ url_for('static', filename='assets/titleFlare.png') }}" id="tile">
        </div>
    </div>
    
    <div class="container-fluid px-4">
        <h2 class="mt-2" id="tileheadings">Top Servers:</h2>
        <div class="row">
            {% for serverpromoted in promotedservers %}
                <div class="col-md-4" id="tile">
                    <h3>Server Name: {{ serverpromoted.name }}</h1>
                    <p>Server Settings: {{ serverpromoted.settings }}</p>
                    <p>Server Created on: {{ serverpromoted.dateposted }}</p>
                </div>
            {% endfor %}
            <img src="{{ url_for('static', filename='assets/titleFlare.png') }}" id="tile">
        </div>
    </div>
    <div class="container-fluid px-4">
        <h2 class="mt-2" id="tileheadings">New Servers:</h2>
        <div class="row">
            {% for serverpromoted in promotedservers %}
                <div class="col-md-4" id="tile">
                    <h3>Server Name: {{ serverpromoted.name }}</h1>
                    <p>Server Settings: {{ serverpromoted.settings }}</p>
                    <p>Server Created on: {{ serverpromoted.dateposted }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock homepage %}